.custom-navbar {
    background-color:transparent;   
        .navbar-brand {
        padding: .5rem 0;
        color: rgba(255,255,255,.5);       
        font-weight: 700;       
    }
    .nav-links a.nav-link{     
    padding: 2rem 1.5rem;
    color: rgba(255,255,255,.5);
    }
}
#mainNav {  
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.navbar-shrink {
    background-color: #fff !important;
}
#mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: .25rem solid transparent;
}
#mainNav.navbar-shrink .navbar-brand {
    color: #161616;
}
#mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: 0;
    border-bottom: .25rem solid #64a19d;
}

@include media-breakpoint-down(sm) {
    #mainNav.navbar-shrink span.navbar-toggler-icon {    
      background-color: #181818 !important;   
    }
    #mainNav.navbar-shrink ul.navbar-nav.ml-auto.nav-links {
        background-color: #ffffff;
        padding: 20px 0px;
    }
}
